# Welcome to Jekyll!
#
# Toto je soubor s hlavním nastavením. Na začátku je nastavení proměných, které
# je třeba přispůsobit si pro váš web. Později v anglicky popsané části jsou více
# technické nastavení
#

title: Piráti - Olomoucký kraj # To co je napsané na tabu ve kterém je stránka.
email: olomoucky@pirati.cz
description: >-
  Česká pirátská strana - Krajské sdružení Olomoucký kraj
# dobré keywords jsou ty co lidé piší do googlu když hledají naši stránku
keywords: krajské sdružení, olomoucký, piráti, česká pirátská strana, politická strana, politika, demokracie, svoboda, otevřenost, transparentnost
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://olomoucky.pirati.cz" # the base hostname & protocol for your site

mediaStorage: olomoucky

administrator:
  email: jan.suchanek@gmail.com, honza.dvorak@pirati.cz, jaromirhorky14@gmail.com

organization:
  name: Piráti - Olomoucký kraj
  shortName: Piráti - Olomoucký kraj
  email: olomoucky@pirati.cz
  phone: +420 720 206 231
  address: |
    Picolo Olomouc
    8. května 522/5,
    779 00 Olomouc
  residenceImg: https://a.pirati.cz/olomoucky/img/miscellaneous/picolo.jpg
  mapLink: https://en.mapy.cz/zakladni?x=14.4153018&y=50.0734551&z=17&source=addr&id=9018965&q=Na%20Mor%C3%A1ni%203%2C%20Praha%202
  redmineLink: https://redmine.pirati.cz/projects/olomoucky
  dataBoxId: b2i4r6j
  transparentAccount: 2100048174/2010
  donateLink: https://dary.pirati.cz/podpor-kraj/olomoucky/  
  onboardingLink: https://nalodeni.pirati.cz/

# Nastavení zobrazení tabulky kontaktů.
# Lze využít:
# 1) předdefinované typy (organizationEmail, organizationRedmineLink, organizationPhone, organizationTransparentAccount, organizationDataBox, piratiRootWebsite)
# 2) vlastní řádky - zde je nutné jako type dát `custom` a vyplnit `label` a `body`
contactSummaryItems:
  - type: organizationEmail
  #- type: organizationRedmineLink
  - type: organizationPhone
  - type: organizationTransparentAccount
    includeMoreLink: true
  - type: organizationDataBox
#  - type: piratiRootWebsite
#  - type: custom
    #iconClass: fa fa-envelope
    #label: Vlastní řádek tabulky
    #body: <a href="http://example.com">link</a>

calendar:
  # For nice look of the calendar, make sure you get Google Calendar API key
  # and start the app with the env var `GOOGLE_CALENDAR_APIKEY=[myapikey] bundle exec jekyll serve`.
  # For deployment, contact website administrator to set you env variable.
  title: Krajský kalendář
  id: har1dmou53l37fbr4lci4prbhc@group.calendar.google.com
  page: https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=500&amp;wkst=2&amp;hl=cs&amp;bgcolor=%23FFFFFF&amp;src=0014epo7k8kbgpgq3gaudeodnc%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FPrague

facebook:
  loadSDK: true
  #vyplně adresu vaší stranky, funguje pouze na stránky nikoliv skupiny
  profilePage: https://www.facebook.com/piratiOlomoucko/
  profilePageName: Piráti - Olomoucký kraj
  #appId: 1526197851008996

twitter:
  loadSDK: true
  profile: piratiOlomoucko

instagram:
  profilePage: https://www.instagram.com/olomouctipirati/?hl=cs

gplus:
  #profilePage: https://plus.google.com/u/0/+piratskastrana

flicker:
  #profilePage: https://www.flickr.com/photos/pirati/

forum:
  page: https://forum.pirati.cz/olomoucky-kraj-f276/

github:
  url: https://github.com/pirati-web/olomoucky.pirati.cz/
  branch: master

youtube:
  channel: CeskaPiratskaStrana

#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

github_username:  pirati-web

sass:
  style: compressed
  sass_dir: _sass

theme: jekyll-theme-pirati
# Build settings
markdown: kramdown
theme: jekyll-theme-pirati
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-environment-variables
  - jekyll-redirect-from
paginate_path: "/aktuality/:num/"
paginate: 11

exclude:
  - readme.md
  - Gemfile
  - Gemfile.lock
  - vendor
  - TODO.txt

permalink: /aktuality/:title.html
collections:
  people:
    output: true
    permalink: /lide/:path/

  program:
    output: true
    permalink: /program/:path/

  # Sole purpose is to create candidate lists in separate files.
  candidatelists:
    output: false

defaults:   # defaults values for collection scope
  -
    scope:
      path: "_people"
    values:
      layout: "person"
      rbar:
        - profile
        - people
  -
    scope:
      path: "_program"
    values:
      layout: "program-post"
      rbar:
         - garant
         - program

emptyArray: []

assets:
  source_maps: true
  compression: true
  gzip: false
  plugins:
    css: { autoprefixer: {}}
    img:
      optim:
        jpegoptim:
          strip: all
          max_quality: 80
  autoprefixer:
    browsers:
      - "last 2 versions"
      - "IE > 9"
  sources:
    - vendor/bundle/ruby/2.5.0/gems/jekyll-theme-pirati-8.4.1/_sass
    - assets/css
    - assets/fonts
    - assets/video
    - assets/img
    - _sass

styleguide_base_url: 'https://styleguide.pirati.cz/latest/'
