---
layout: default
title: Kontaktní informace
---

<div class="row o-section-block o-section-block--divided">
  <div class="medium-12 large-12 columns">
    <section class="o-section">
      <div class="o-section-inner">
        <main class="o-section-block">
          <!-- Article -->
          <article itemtype="http://schema.org/BlogPosting" class="c-BasicPage" itemscope="">
            <!--<link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">-->
            <header class="c-BasicPage-header c-BasicPage-header--horizontal">
              <h1 itemprop="headline" class="c-BasicPage__title">Kontaktní informace</h1>
            </header>
            <div class="o-section-block o-section-block--fill">
              <div class="u-cf">
                <div class="medium-12 large-7 columns o-section-mediumdown-divided-small">
                  <div class="c-BasicPage-content">
                    <h2>Základní údaje</h2>
                    <table>
                      <tbody>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-envelope"></i>
                            <span class="cell-text">Emailová adresa:</span>
                          </td>
                          <td>
                            <a href="mailto:olomoucko@pirati.cz">olomoucko@pirati.cz</a> (elektronická pošta)
                            <br>
                            <a href="https://redmine.pirati.cz/projects/olomoucky-kraj">podatelna</a> (systém redmine)
			  </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-envelope"></i>
                            <span class="cell-text">Telefon</span>
                          </td>
                          <td> 731 464 910 </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-desktop"></i>
                            <span class="cell-text">Celostátní web</span>
                          </td>
                          <td>
                            <a href="https://www.pirati.cz">https://www.pirati.cz</a>
                          </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-desktop"></i>
                            <span class="cell-text">Krajské fórum</span>
                          </td>
                          <td>
                            <a href="https://www.pirati.cz">https://forum.pirati.cz/viewforum.php?f=80</a>
                          </td>
                        </tr>                        
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-university"></i>
                            <span class="cell-text">Centrum Picolo</span>
                          </td>
                          <td> 8. května 522/5, 779 00 Olomouc<br>(předpokládaný termín otevření centra v dubnu 2018)</p></td>
                        </tr>
			{% comment%}
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-university"></i>
                            <span class="cell-text">Identifikační číslo</span>
                          </td>
                          <td> 71339698 </td>
                        </tr>
                        <tr>
                          <td class="cell-description">
                            <i class="cell-icon fa fa-university"></i>
                            <span class="cell-text">Transparentní účty</span>
                          </td>
                          <td> 2100048174/2010 a <a href="https://wiki.pirati.cz/fo/seznam_uctu">další účty</a> u banky Fio </td>
                        </tr>
			{% endcomment%}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="medium-12 large-5 columns o-section-mediumdown-divided-small">
                  <div class="c-BasicPage-content">
                    <h2>Sídlo a kontaktní centrum</h2>
                    <div class="o-media o-media--top">
                      <div class="o-media__image">
                        <img src="{{ 'picolo.jpg' | prepend: '/assets/img/miscellaneous/' | relative_url }}" alt="Sídlo" style="width: 200px;"> </div>
                      <div class="o-media__body">
			                   <p><strong>Česká pirátská strana - Krajské sdružení Olomoucký kraj</strong></p>
                        <p> 8. května 522/5
                          <br> 779 00 Olomouc 
                          <br> (předpokládaný termín otevření centra v dubnu 2018)</p>
                        <p>
                          <a href="https://mapy.cz/zakladni?base=ophoto&q=8. května 522/5, Olomouc">Zobrazit mapu ›</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="c-BasicPage-content">
                    <h2>Další kontakty</h2>
                    <p> Další osoby naleznete na stránce
                      <a href="{{'/lide/' | relative_url}}">Naši lidé</a>. </p>
                    <p> Setkat se s námi můžete v olomouckém pirátském centru		    
                      <a href="{{'picolo/' | relative_url }}">Picolo</a> nebo		    
                      <a href="{{'kalendar/' | relative_url }}">pirátské akci</a>. </p>
                    <p> Pro pomoc a radu v odborných otázkách kopírovacího monopolu či jiných se obracejte na
                      <a href="https://forum.pirati.cz/verejna-poradna-f795/">Pirátskou poradnu</a> na fóru. </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </main>
      </div>
    </section>
  </div>
</div>
<hr>
<div class="row o-section-block o-section-block--divided">
  <div class="medium-6 large-6 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <div class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <h2>Kontakt pro média</h2>
                {% assign team = site.people | where_exp:"item","item.uid contains 'tomas.svoboda'" %}
                {% include people/list-2col.html param=team %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="medium-6 large-6 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <div class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <h2>Kontakt pro veřejnost</h2>
                {% assign team = site.people | where_exp:"item","item.uid contains 'milos.zmeskal'" | sort:"ordkontakty" %}
                {% include people/list-2col.html param=team %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
