---
layout: default
title: Místní sdružení v Olomouckém kraji
---

<div class="container container--default pt-8 lg:py-24">
 <section>
<h1 class="head-alt-md md:head-alt-lg max-w-5xl mb-8">Místní sdružení v Olomouckém kraji</h1>
  <main>
   <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">


{% include ms/item.html 
    img='https://a.pirati.cz/olomoucky/img/teams/piratska-tvrz.jpg'
    name='Pirátská tvrz'
    area='Pirátská tvrz'
    link='/mistni-sdruzeni/piratska-tvrz/'
    president="..."
    %}
     
{% include ms/item.html 
    img='https://a.pirati.cz/olomoucky/img/teams/prerov.jpg'
    name='Přerov'
    area='okres Přerov'
    link='/mistni-sdruzeni/prerov/'
    president="..."
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/olomoucky/img/teams/prostejov.jpg'
    name='Prostějov'
    area='okres Prostějov'
    link='/mistni-sdruzeni/prostejov/'
    president="..."
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/olomoucky/img/teams/sumpersko.jpg'
    name='Šumperk'
    area='okres Šumperk'
    link='/mistni-sdruzeni/sumperk/'
    president="..."
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/olomoucky/img/teams/olomouc.jpg'
    name='Olomouc'
    area='okres Olomouc'
    link='/mistni-sdruzeni/olomouc/'
    president="..."
    %}

    </div>
  </main>
  </section>
 </div>





