---
layout: default
title: Místní sdružení v Olomouckém kraji
---

<div class="container container--default pt-8 lg:py-24">
 <section>
<h1 class="head-alt-md md:head-alt-lg max-w-5xl mb-8">Místní sdružení v Olomouckém kraji</h1>
  <main>
   <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">


{% include ms/item.html
    img='https://a.pirati.cz/olomoucky/img/teams/piratska-tvrz.jpg'
    name='Pirátská tvrz'
    area='Pirátská tvrz'
    link='/mistni-sdruzeni/piratska-tvrz/'
    president='radek.vojtek'
    fb="https://www.facebook.com/PiratskaTvrz/?fref=ts"
    %}

{% include ms/item.html
    img='https://a.pirati.cz/olomoucky/img/teams/prerov.jpg'
    name='Přerov'
    area='Místní sdružení Přerov'
    link='prerov.pirati.cz'
    president='vojtech.nezval'
    fb="https://www.facebook.com/Prerovsko/"
    %}

{% include ms/item.html
    img='https://a.pirati.cz/olomoucky/img/teams/prostejov.jpg'
    name='Prostějov'
    area='Místní sdružení Prostějov'
    link='prostejov.pirati.cz'
    president='ondrej.moskal'
    fb="https://www.facebook.com/PiratiProstejov"
    %}

{% include ms/item.html
    img='https://a.pirati.cz/olomoucky/img/teams/sumpersko.jpg'
    name='Šumpersko'
    area='Místní sdružení Šumpersko'
    link='/mistni-sdruzeni/sumpersko/'
    president='robert.srejma'
    fb="https://www.facebook.com/Piráti-Šumpersko-a-okolí-1201476926617478/"
    %}

{% include ms/item.html 
    img='https://a.pirati.cz/olomoucky/img/teams/olomouc.jpg'
    name='Olomouc'
    area='okres Olomouc'
    link='olomouc.pirati.cz'
    president="hynek.melichar"
    fb="https://www.facebook.com/piratiOlomouc"
    %}

    </div>
  </main>
  </section>
 </div>





