{% if page.url contains 'program' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> <a href="{{'/program/' | relative_url }}">Program</a> </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="https://www.pirati.cz/program/psp2017.html" target=_blank>Parlament 2017 (otevřevní v novém okně)</a>
          </li>
          {% comment %}
          <li class="c-top-sub-nav__item">
            <a href="{{'/program/psp2017/kodex-poslance/' | relative_url }}">Kodex poslance</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="https://www.pirati.cz/program/psp2017.html">Dlouhodobý program</a>
          </li>
          {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{% elsif page.url contains 'pripoj-se' %}
{% comment %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading">Připoj se</div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{'/pripoj-se/' | relative_url }}">Dej o sobě vědět</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/kalednar/' | relative_url }}">Kalendář</a>
          </li>          
<!--          <li class="c-top-sub-nav__item">
            <a href="{{'/pripoj-se/tymy/' | relative_url }}">najdi si tým</a>
          </li> 
          <li class="c-top-sub-nav__item">
            <a href="http://objekty.jdem.cz/">Nabídni plot</a>
          </li>
-->          
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endcomment %}
{% elsif page.url contains 'mistni-sdruzeni' %}
{% comment %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading">Místní sdružení</div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/olomouc/' | relative_url }}">Olomouc</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/prostejov/' | relative_url }}">Prostějov</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/prerov/' | relative_url }}">Přerov</a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/sumpersko/' | relative_url }}">Šumpersko</a>
          </li>          
          <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/piratska-tvrz/' | relative_url }}">Pirátská Tvrz</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>  
{% endcomment %}
{% elsif page.url contains 'lide' %}
{% comment %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading">Naši lidé</div>
        </div>
        <div class="c-top-sub-nav-divider"></div>        
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{ '/lide/' | relative_url }}">Předsednictvo</a>
          </li>
	         <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/' | relative_url }}">Koordinátor</a>
          </li>	 
          <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/' | relative_url }}">Vedoucí odborů</a>
          </li>  
          <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/' | relative_url }}">Poslanci</a>
          </li>  
          <li class="c-top-sub-nav__item">
            <a href="{{ '/regiony/' | relative_url }}">Zastupitelé</a>
          </li>
          {% comment %}
          <li class="c-top-sub-nav__item">
            <a href="https://www.pirati.cz/o-nas/stanovy.html"target=_blank>Stanovy (otevření v novém okně)</a>
          </li>
          {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endcomment %}
{% endif %}
