---
layout: default
title: Naši lidé v Olomouckém kraji
---
{% include submenu.html %}
<div class="row o-section-block o-section-block--divided">
    <div class="medium-12 large-12 columns">
        <section class="o-section">
            <div class="o-section-inner">
                <main class="o-section-block">
                    <div class="c-BasicPage">
                        <div class="c-BasicPage-content">
                            <h2 itemprop="headline" class="c-BasicPage__title">Naši lidé v Olomouckém kraji</h2>
                            {% comment %}
                            <div class="c-BasicPage-header c-BasicPage-header--horizontal c-BasicPage-header--horizontal--mobilestacked">
                                <h1 class="c-BasicPage__title"> Organizace </h1>
                                <div class="c-BasicPage__meta">
                                    <div class="c-BasicPage__meta-filters">
                                        <div class="c-BasicPage__meta-filter-block">
                                            <div class="c-BasicPage__meta-filters__title">Filtr</div>
                                        </div>
                                        <div class="c-BasicPage__meta-filter-block">
                                            <div class="c-BasicPage__meta-filter">
                                                <button class="c-BasicPage__meta-filter-btn" type="button" data-toggle="category-filters">Všechny kategorie</button>
                                                <div class="c-BasicPage__meta-filter-dropdown" id="category-filters" style="display: none; " data-toggler="is-open">
                                                    <ul>
                                                        <li>
                                                            <input type="checkbox" name="group[]" id="group1" value="">
                                                            <label for="group1">Předsednictvo kraje</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="group[]" id="group2" value="">
                                                            <label for="group2">Krajští zastupitelé</label>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="group[]" id="group3" value="">
                                                            <label for="group3">Senátoři s podporou Pirátů</label>
                                                        </li>
                                                        <li class="spacer"></li>
                                                        <li>
                                                            <input type="checkbox" name="group[]" id="group5" value="" checked="">
                                                            <label for="group5">Všechny kategorie</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endcomment %}
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item is-active" data-accordion-item="">
                                    <a href="#pkspard" class="c-simple-accordion-title">Krajské předsednictvo</a>
                                    <div id="pkspard" class="c-simple-accordion-content" data-tab-content="">
                                        {% assign team = site.people | where_exp: "item","item.categories contains 'predsednictvo'" | sort:"ordpre" %}
                                        {% include people/list-2col.html param=team %}
                                        {% comment %}
                                        {% if page.team == null %}<br>Zatím žádný zástupce{% endif %}
                                        {% endcomment %}                                        
                                    </div>
                                </li>
                            </ul>
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item" data-accordion-item="">
                                    <a href="#zastupitele" class="c-simple-accordion-title">Krajský koordinátor</a>
                                    <div id="zastupitele" class="c-simple-accordion-content" data-tab-content="">
                                        <div class="c-simple-accordion-content-block">
                                          {% assign team = site.people | where_exp:"item","item.categories contains 'koordinatori'" | sort:"ordkor"  %}
                                          {% include people/list-2col.html param=team %}
					                                {% comment %}
                                          {% if page.team == null %}<br>Zatím žádný zástupce{% endif %}
                                          {% endcomment %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item" data-accordion-item="">
                                    <a href="#senat" class="c-simple-accordion-title">Vedoucí krajských odborů</a>
                                    <div id="senat" class="c-simple-accordion-content" data-tab-content="">
                                        {% assign team = site.people | where_exp:"item","item.categories contains 'vedouci'" | sort:"ordved"  %}
                                        {% include people/list-2col.html param=team %}
					                    {% comment %}
                                        {% if page.team == null %}<br>Zatím žádný zástupce{% endif %}
                                        {% endcomment %}
                                    </div>
                                </li>
                            </ul>
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item" data-accordion-item="">
                                    <a href="#psp" class="c-simple-accordion-title">Poslanci</a>
                                    <div id="psp" class="c-simple-accordion-content" data-tab-content="">
                                        {% assign team = site.people | where_exp:"item","item.categories contains 'poslanci'" | sort:"ordpos"  %}
                                        {% include people/list-2col.html param=team %}
                                        {% comment %}
                                        {% if page.team == null %}<br>Zatím žádný zástupce{% endif %}
                                        {% endcomment %}
                                    </div>
                                </li>
                            </ul>
			    <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item" data-accordion-item="">
                                    <a href="#psp" class="c-simple-accordion-title">Krajští zastupitelé</a>
                                    <div id="psp" class="c-simple-accordion-content" data-tab-content="">
                                        {% assign team = site.people | where_exp:"item","item.categories contains 'kraj-zastupitele'" | sort:"ordzask" %}
                                        {% include people/list-2col.html param=team %}
                                        {% comment %}
                                        {% if page.team == null %}<br>Zatím žádný zástupce{% endif %}
                                        {% endcomment %}
                                    </div>
                                </li>
                            </ul> 
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item" data-accordion-item="">
                                    <a href="#psp" class="c-simple-accordion-title">Místní zastupitelé</a>
                                    <div id="psp" class="c-simple-accordion-content" data-tab-content="">
                                        {% assign team = site.people | where_exp:"item","item.categories contains 'zastupitele'" | sort:"ordzas" %}
                                        {% include people/list-2col.html param=team %}
                                        {% comment %}
                                        {% if page.team == null %}<br>Zatím žádný zástupce{% endif %}
                                        {% endcomment %}
                                    </div>
                                </li>
                            </ul>                                                        
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                                <li class="c-simple-accordion-item" data-accordion-item="">
                                    <a href="#psp" class="c-simple-accordion-title">Předsedové místních sdružení</a>
                                    <div id="psp" class="c-simple-accordion-content" data-tab-content="">
                                        {% assign team = site.people | where_exp:"item","item.categories contains 'predsedove-ms'" | sort:"ordmis" %}
                                        {% include people/list-2col.html param=team %}
                                        {% comment %}
                                        {% if page.team == null %}<br>Zatím žádný zástupce{% endif %}
                                        {% endcomment %}
                                    </div>
                                </li>
                            </ul>      
                            <ul class="c-simple-accordion" data-accordion="" data-options="allowAllClosed: true">
                              <li class="c-simple-accordion-item" data-accordion-item="">
                                <a href="#clenove" class="c-simple-accordion-title">Členové</a>
                                <div id="clenove" class="c-simple-accordion-content" data-tab-content="">
                                  <a href="https://forum.pirati.cz/ks-olomoucky-kraj-g38.html">Seznam členů Krajského sdružení Olomouckého kraje na Fóru Pirátské strany</a>
                                </div>
                              </li>
                            </ul>                                                                                                          
                        </div>
                    </div>
                </main>
            </div>
        </section>
        <!-- /. o-section -->
    </div>
</div>
{% comment %}
# CSS_HACK: aby nebyl bílej proužek pod sliderem
<div class="c-hero" style="margin-bottom: -1.5rem;position: relative;">
{% endcomment %}
{% comment %}
<div class="c-hero">
  <div class="row">
    <div class="c-hero-container">
      <div class="small-12 columns">
        <div class="c-hero-block">
          <h1 class="c-hero__title">Naši lidé</h1>
        </div>
        <div class="c-hero-block c-hero-content u-js-hiddenBeforeLoad">
          <div class="c-hero-slider orbit" role="region" aria-label="Naši lidé" data-orbit="" data-use-m-u-i="false">
          <button class="orbit-previous">
            <span class="show-for-sr">Předchozí záložka</span>
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </button>
          <button class="orbit-next">
            <span class="show-for-sr">Další záložka</span>
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
          <ul class="orbit-container">
            {% assign team = site.people | where_exp:"item","item.categories contains 'carousel'" | sort:"ordcar" %}
            {% for person in team %}
            {% include people/carousel.html param='person' %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
</div>
