---
layout: default
title: Picolo - Pirátské centrum Olomouc
---
<div class="row">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner">
        <div class="c-BasicPage">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <div class="c-BasicPage-header c-BasicPage-header--horizontal c-BasicPage-header--horizontal--mobilestacked">
                <h1 class="c-BasicPage__title">Picolo - Pirátské centrum Olomouc</h1>
              </div>
              <div itemprop="description" class="c-BasicPage-content">
                <p>
                  Pirátské centrum slouží jako prostor pro širokou veřejnost a různorodé občanské aktivity. Můžete zde uspořádat přednášku, besedu, workshop, promítání atp. K dispozici je projektor s plátnem a také kamera pro záznam či streaming na YouTube.
                </p>
                <p>
                  Picolo je k dispozici zcela ZDARMA a pro akce nekomerčního charakteru. Vyhrazujeme si právo akci odmítnout.
                </p>
                <p>
                  <strong>Adresa:</strong> 8. května 522/5, 779 00 Olomouc<br>
                  <strong>Otevírací doba:</strong> Pondělí 9-13 hodin, mimo tuto dobu po domluvě<br>
                  <strong>Facebook:</strong> <a href="https://www.facebook.com/picoloexistuje/">https://www.facebook.com/picoloexistuje/</a><br>
                </p>
              </div>
              <div class="o-media o-media--top">
                <div class="o-media__image">
                  <img src="{{ 'picolo.jpg' | prepend: '/assets/img/miscellaneous/' | relative_url }}" height="100%" width="100%" align="left">
                </div>
              </div>
              <div class="o-section-header">
                <h2 class="o-section__heading o-section__heading">Akce, pozvánky, články</h2>
              </div>
            </div>
          </div>
        </div>

        {% assign counter = 0 %}
        {% for article in site.posts %}
        {% if article.tags contains "picolo" and counter < 6 %}
        {% assign counter = counter | plus: 1 %}
        <article itemtype="http://schema.org/BlogPosting" class="c-BlogPosting-excerpt" itemscope="">
          <link itemprop="mainEntityOfPage" href="http://insertshownpagelinkhere.com">
            <div class="c-BlogPosting-excerpt-contentWrapper u-cf">
              <div class="c-BlogPosting-excerpt-photoBox">
              <!-- BlogPosting image -->
              <div itemprop="image" itemtype="http://schema.org/ImageObject" class="c-BlogPosting-excerpt__image" itemscope="">
                <a href="{{article.url | relative_url}}">
                  <img src="{{ article.image | relative_url}}" alt="{{article.title}}">
                </a>
                <meta itemprop="url" content="{{ article.image | relative_url }}">
                <meta itemprop="width" content="">
                <meta itemprop="height" content="">
              </div>
            </div>
            <div class="c-BlogPosting-excerpt-contentBox">
              <!-- Headline -->
              <h2 itemprop="headline" class="c-BlogPosting-excerpt__title">
                <a style="color:#2785ce;" href="{{article.url | relative_url }}" itemprop="url">{{article.title}}</a>
              </h2>
              <!-- BlogPosting description-->
              <div itemprop="description" class="c-BlogPosting-excerpt-content">{{ article.excerpt | truncatewords: 33 | strip_html }}</div>
                <a href="{{article.url | relative_url }}" class="c-BlogPosting-excerpt-readMore">Přečíst celý článek &rsaquo;</a>
              </div>
              <!-- Publisher -->
              <div itemprop="publisher" itemtype="http://schema.org/Organization" class="u-hidden" itemscope="">
                <div itemprop="logo" itemtype="http://schema.org/ImageObject" itemscope="">
                  <meta itemprop="url" content="{{ 'assets/img/brand/logo.svg' | relative_url }}">
                </div>
                <meta itemprop="name" content="Česká pirátská strana">
              </div>
            </div>
          <div class="c-BlogPosting-excerpt-infoBox">
          <!-- Date published -->
            <span itemprop="description" class="c-BlogPosting-excerpt__datePublished">
              <i class="fa fa-calendar-o" aria-hidden="true"></i> {{article.date | date: "%d.%m.%Y"}}
              <meta itemprop="datePublished" content="{{article.date | date_to_xmlschema }}">
              <meta itemprop="dateModified" content="">
            </span>
            <br class="hide-for-medium">
                <!-- Authors -->
            <span itemprop="author" itemtype="http://schema.org/Person" class="c-BlogPosting-excerpt__authors" itemscope="">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span itemprop="name" class="c-BlogPosting-excerpt__author">{{ article.author }}</span>
              <br class="hide-for-medium">
            </span>
          </div>
        </article>
        {% endif %}
        {% endfor %}
      </div>
    </section>
    <!-- /. o-section -->
  </div>
  <div class="small-12 large-4 columns">
    <aside class="o-section o-section--noSpaceBottom">
      <div class="o-section-inner o-section-inner--rightBlock">
        {% include right-bar/bar_cal.html %}
        {% include right-bar/bar_video.html %}
      </div>
    </aside>
  </div>
</div>
